List((
    texture_width: 18,
    texture_height: 9,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 9,
            height: 9
        ),
        (
            x: 9,
            y: 0,
            width: 9,
            height: 9
        )
    ]
))